@font-face {
    font-family: Pecita;
    src: url(Pecita.otf);
}


.main-header{
    text-align: center;
    /*position: fixed;
    top:5%;
    left:12%;
    height:10%;*/
}

.login{
    position:fixed;
    top:40%;
    left:12%;
}

.bottom{
    padding-bottom:10%;
}

.image{
    background-image: url("foodbackground.jpg");
    background-size: cover;
    background-repeat: none;
}

.container{
    opacity: 0.9;
}
.jumbotron{
    background-color:#f2f2f2;
}

.title-text{
    font-family:Pecita;
    font-size:60px;
}
.header-text{
    font-family:arial;
    font-size:30px;
}

.size{
    position:fixed;
    top:40%;
    left:12%;
}

.recipeImage{
  width:300px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rdetails{
  position: relative;
}

.recDispBanner{
  display: inline-block;
}

#search-center{
    padding-top:7%;
}
#searchterm{
  position: relative;
  height: 0px;
}

#recDispAuthor{
    float:right;
}

#noDecLink{
  text-decoration: none;
}

textarea {
  resize: none;
}
